flask
gunicorn
flask-cors
flask-sqlalchemy
python-dotenv
werkzeug
psycopg2-binary
authlib
pypdf
langchain
langchain-core
langchain-text-splitters
langchain-chroma
langchain-google-genai
chromadb
marshmallow